Django==5.1.4
django-allauth==65.4.1
django-cors-headers==4.7.0
djangorestframework==3.15.2
mysqlclient>=2.2.0,<3.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
django_storages==1.14.5
#djangorestframework_simplejwt==5.5.0
model_bakery==1.20.4
python-decouple==3.8
Requests==2.32.3
#spacy==3.8.5
#boto3
cryptography
mysqlclient>=2.2.0,<3.0.0
psycopg2-binary==2.9.9
django-storages==1.14.5
django-phonenumber-field==7.2.0
qrcode==7.4.2